/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */
:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  list-style: none;
  display: inline;
  margin-left: 15px;
  line-height: 42px;
}

nav a {
  font-size: 18px;
  color: rebeccapurple;
  transition: all 50ms ease-in-out;
}

nav a:hover,
li.active a {
  text-decoration: none;
  color: var(--branding-color);
}

.logo {
  max-height: 40px;
}

.intro {
  text-align: center;
}

.intro p {
  font-family: var(--default-font-family);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.intro h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
}

.intro h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
  color: #272142;
  font-weight: normal;
  line-height: 2;
}
